body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#auth-buttons button {
    margin-left: 10px;
}

#auth-form, #note-form, #note-list, #note-detail {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

#notes li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
    cursor: puinter;
}

#notes li:last-child {
    border-bottom: none;
}

textarea {
    width: 100px;
    height: 100px;
}

button {
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 5px;
}

form {
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li:hover {
    background-color: #f9f9f9;
}

.date-container {
    display: flex;
    gap: 15px;
}

.date-container div {
    flex: 1;
}

.date-container input {
    width: 100%;
}

.note-date {
    font-style: italic;
    color: #666;
    margin-top: -10px;
    margin-bottom: 10px;
}